{% load static %}

<div class="navbar">
    <a href="{% url 'core:index' %}">
        <button>Home</button>
    </a>
    {% if user.is_authenticated %}
        <a href="{% url 'clientes:index' %}">
            <button>Clientes</button>
        </a>
        <a href="{% url 'productos:index' %}">
            <button>Productos</button>
        </a>
        <a href="{% url 'pedidos:index' %}">
            <button>Pedidos</button>
        </a>
        <a href="{% url 'core:profile' %}">
            <button>{{ user.username }}</button>
        </a>
        {% if user.vendedor.avatar %}
            <img src="{{ user.vendedor.avatar.url }}" alt="avatar"/>
        {% else %}
            <img src="{% static 'core/img/perfil.png' %}" alt="avatar"/>
        {% endif %}
        <form action="{% url 'core:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'core:login' %}">
            <button>Login</button>
        </a>
    {% endif %}
</div>